form{
    margin-top: 50px;
    margin-left: 30px;
    color: rgb(61, 61, 57);
}

.contacts{
    margin-top: 50px;
    margin-left: 20px;
}

.contactcase{
    color: rgb(141, 139, 139);
}

.editdelete{
    padding-right: 10px;
}

h2{
    text-align: center;
}

input{
    width: 95%;
    height: 40px;
    color: black;
}

.userinput{
    float: left;
    width: 40%;
    border-right: 0.1px black solid;
    height: 100vh;
    background-image: url(../images/imagesxx.jpg);
}


.userlist{
    float:right;
    width: 60%;
}

